<div class="row column">
    <h1>Headers</h1>
</div>
<div class="row margin-top-20">
    <div class="large-8 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner"><h6>Headers</h6></div>
            </div>
            <div class="well body">
                <ko.view-source params="sourceClass: 'sourceElement21'"></ko.view-source>
                <div class="sourceElement21">
                    <h1>h1. This is a very large header.</h1>
                    <h2>h2. This is a large header.</h2>
                    <h3>h3. This is a medium header.</h3>
                    <h4>h4. This is a moderate header.</h4>
                    <h5>h5. This is a small header.</h5>
                    <h6>h6. This is a tiny header.</h6>
                </div>

                <ko.view-source params="sourceClass: 'sourceElement22'"></ko.view-source>
                <div class="sourceElement22">
                    <h1 class="subheader">h1.subheader</h1>
                    <h2 class="subheader">h2.subheader</h2>
                    <h3 class="subheader">h3.subheader</h3>
                    <h4 class="subheader">h4.subheader</h4>
                    <h5 class="subheader">h5.subheader</h5>
                    <h6 class="subheader">h6.subheader</h6>
                </div>

                <ko.view-source params="sourceClass: 'sourceElement23'"></ko.view-source>
                <div class="sourceElement23">
                    <h1>h1. <small>Small segment header.</small></h1>
                    <h2>h2. <small>Small segment header.</small></h2>
                    <h3>h3. <small>Small segment header.</small></h3>
                    <h4>h4. <small>Small segment header.</small></h4>
                    <h5>h5. <small>Small segment header.</small></h5>
                    <h6>h6. <small>Small segment header.</small></h6>
                </div>
            </div>
        </div>
    </div>
    <!--documentations-->
    <div class="columns large-4">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Documentations</h6>
                </div>
            </div>
            <div class="well body text-center">
                <div class="row ">
                    <ol>
                        <li>h1 - 24px</li>
                        <li>h2 - 21px</li>
                        <li>h3 - 18px</li>
                        <li>h4 - 16px</li>
                        <li>h5 - 14px</li>
                        <li>h6 - 12px</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>