<div class="row column">
    <h1>Lists</h1>
</div>
<div class="row margin-top-20">
    <div class="large-8 columns">
        <!-- simple lists -->
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner"><h6>Un-ordered List</h6></div>
            </div>
            <div class="well body">
                <ko.view-source params="sourceClass: 'listsSourceElement24'"></ko.view-source>
                <div class="listsSourceElement24">
                    <ul class="no-bullet">
                        <li>List item with a much longer description or more content.</li>
                        <li>List item</li>
                        <li>List item
                            <ul>
                                <li>Nested List Item</li>
                                <li>Nested List Item</li>
                                <li>Nested List Item</li>
                            </ul>
                        </li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /end simple lists -->
        <!-- simple lists -->
        <div class="widget margin-top-20">
            <div class="nav-bar">
                <div class="nav-bar-inner"><h6>Ordered List</h6></div>
            </div>
            <div class="well body">
                <ko.view-source params="sourceClass: 'listsSourceElement25'"></ko.view-source>
                <div class="listsSourceElement25">
                    <ol>
                        <li>List item with a much longer description or more content.</li>
                        <li>List item</li>
                        <li>List item
                            <ol>
                                <li>Nested List Item</li>
                                <li>Nested List Item</li>
                                <li>Nested List Item</li>
                            </ol>
                        </li>
                        <li>List item</li>
                        <li>List item</li>
                        <li>List item</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /end simple lists -->
    </div>

    <!--documentations-->
    <div class="columns large-4">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Documentations</h6>
                </div>
            </div>
            <div class="well body text-center">
                <div class="row ">
                    lists, need to add here list with checkboxes , etc.
                </div>
            </div>
        </div>
    </div>
</div>