<div class="row column">
    <h1>Grid</h1>
</div>
<div class="row  margin-top-20">
    <div class="large-6 columns">
        <!-- widget default classes -->
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Vertical Align Example</h6>
                    <p>
                        Start by adding a row with 'valign-middle fullWidth' classes
                        inside this row , create 'columns'
                    </p>
                </div>
            </div>
            <div class="well body overflow-hidden">
                <div class="row collapse">
                    <ko.view-source params="sourceClass: 'vertical-alignElement1'"></ko.view-source>
                    <div data-xrayhtml="flip" class="xrayhtml method-flip vertical-alignElement1">
                        <!-- #### WARNNING #### -->
                        <!-- remember to change, we added borders & colors & text align - for view only. !!!!! -->
                        <!-- #### WARNNING #### -->
                        <div class="valign-middle fullWidth well-smoke">
                            <div class="large-2 columns row" style="border-right: 1px solid #d5d5d5;">
                                <p class="font-size-50 lt-gray-66 text-center" style="font-weight: 300;">4</p>
                            </div>
                            <div class="large-10 columns row">
                                <h1 class="padding-left-8 text-center">Summary</h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /widget -->
    </div>
</div>