<div class="row column">
    <h1>Checkboxes</h1>
</div>
<div class="row margin-top-20">
    <div class="large-6 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Checkbox - box from left - text after ( all clickable ) </h6>
                </div>
            </div>
            <div class="well body text-center form">
                <div class="row column control-group">
                    <ko.view-source params="sourceClass: 'checkboxElement1'"></ko.view-source>
                    <div data-xrayhtml="flip" class="xrayhtml method-flip checkboxElement1">
                        <!-- #### WARNNING #### -->
                        <!-- input ID & label FOR need to be identical and this is only EXAMPLE, please change them !!!!! -->
                        <!-- #### WARNNING #### -->
                        <span class="tracx-checkbox clearfix">
                            <input type="checkbox" value="0" id="idForConnectionUnique1" />
                            <label for="idForConnectionUnique1">
                                <span><i class="lt-green-6 tr-icon-check"></i></span>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</p>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Checkbox - box from right - text before ( all clickable ) </h6>
                </div>
            </div>
            <div class="well body text-center form">
                <div class="row column control-group">
                    <ko.view-source params="sourceClass: 'checkboxElement3'"></ko.view-source>
                    <div data-xrayhtml="flip" class="xrayhtml method-flip checkboxElement3">
                        <!-- #### WARNNING #### -->
                        <!-- input ID & label FOR need to be identical and this is only EXAMPLE, please change them !!!!! -->
                        <!-- #### WARNNING #### -->
                        <span class="tracx-checkbox-right clearfix">
                            <input type="checkbox" value="0" id="idForConnectionUnique4" />
                            <label for="idForConnectionUnique4">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

</p>
                                <span><i class="lt-green-6 tr-icon-check"></i></span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row margin-top-15">
    <div class="large-6 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>On - Off </h6>
                </div>
            </div>
            <div class="well body text-center form">
                <div class="row column control-group">
                    <ko.view-source params="sourceClass: 'checkboxElement5'"></ko.view-source>
                    <div data-xrayhtml="flip" class="xrayhtml method-flip checkboxElement5">
                        <!-- Rounded switch -->
                        <label class="switch" for="idForcheckboxUnique432">
                            <input id="idForcheckboxUnique432" type="checkbox">
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>On - Off (Disabled) </h6>
                </div>
            </div>
            <div class="well body text-center form">
                <div class="row column control-group">
                    <ko.view-source params="sourceClass: 'checkboxElement6'"></ko.view-source>
                    <div data-xrayhtml="flip" class="xrayhtml method-flip checkboxElement6">
                        <!-- Rounded switch -->
                        <label class="switch" for="idForcheckboxUnique123">
                            <input id="idForcheckboxUnique123" type="checkbox" disabled>
                            <div class="slider round"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>