<div class="row column">
    <h1>Radio Buttons</h1>
</div>
<div class="row margin-top-20">
    <div class="large-6 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Radio Button </h6>
                </div>
            </div>
            <div class="well body text-center form">
                <div class="row column control-group">
                    <ko.view-source params="sourceClass: 'checkboxElement1'"></ko.view-source>
                    <div data-xrayhtml="flip" class="xrayhtml method-flip checkboxElement1">
                        <!-- #### WARNNING #### -->
                        <!-- input ID & label FOR need to be identical and this is only EXAMPLE, please change them !!!!! -->
                        <!-- #### WARNNING #### -->
                        <span class="tracx-radio">
                            <input class="tr-ignore-old-style" type="radio" name="radio" id="radio-1" value="1">
                            <label for="radio-1">
                                <span><i></i></span>
                                Daenerys Targaryen
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="large-6 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Radio Button - horizontal alignment</h6>
                </div>
            </div>
            <div class="well body text-center form">
                <div class="row column control-group">
                    <ko.view-source params="sourceClass: 'checkboxElement2'"></ko.view-source>
                    <div data-xrayhtml="flip" class="xrayhtml method-flip checkboxElement2">
                        <!-- #### WARNNING #### -->
                        <!-- input ID & label FOR need to be identical and this is only EXAMPLE, please change them !!!!! -->
                        <!-- #### WARNNING #### -->
                        <span class="tracx-radio">
                            <input class="tr-ignore-old-style" type="radio" name="radio" id="radio-2" value="1">
                            <label for="radio-2">
                                <span><i></i></span>
                                Jon Snow
                            </label>
                        </span>

                        <span class="tracx-radio">
                            <input class="tr-ignore-old-style" type="radio" name="radio" id="radio-3" value="1">
                            <label for="radio-3">
                                <span><i></i></span>
                                Arya Stark
                            </label>
                        </span>

                        <span class="tracx-radio">
                            <input class="tr-ignore-old-style" type="radio" name="radio" id="radio-4" value="1">
                            <label for="radio-4">
                                <span><i></i></span>
                                Cersei Lannister
                            </label>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row margin-top-20">
    <div class="large-6 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Radio Button - vertical alignment</h6>
                </div>
            </div>
            <div class="well body text-center form">
                <div class="row column control-group">
                    <ko.view-source params="sourceClass: 'checkboxElement3'"></ko.view-source>
                    <div data-xrayhtml="flip" class="xrayhtml method-flip checkboxElement3">
                        <!-- #### WARNNING #### -->
                        <!-- input ID & label FOR need to be identical and this is only EXAMPLE, please change them !!!!! -->
                        <!-- #### WARNNING #### -->
                        <span class="tracx-radio">
                            <input class="tr-ignore-old-style" type="radio" name="radio" id="radio-5" value="1">
                            <label for="radio-5">
                                <span><i></i></span>
                                Tyrion Lannister
                            </label>
                        </span>

                        <span class="tracx-radio clearfix">
                            <input class="tr-ignore-old-style" type="radio" name="radio" id="radio-6" value="1">
                            <label for="radio-6">
                                <span><i></i></span>
                                Shae
                            </label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
