<div class="row column">
    <h1>Buttons</h1>
</div>
<div class="row column  margin-top-20">
    <!-- widget default classes -->
    <div class="widget">
        <div class="nav-bar">
            <div class="nav-bar-inner"><h6>Default button classes</h6></div>
        </div>
        <div class="well body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>.btn</code></td>
                        <td>Default light buttons</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /widget -->
</div>
<div class="row margin-top-20">
    <div class="large-6 columns">
        <!-- widget default buttons -->
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Default Buttons</h6>
                </div>
            </div>
            <div class="well body text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">normal</th>
                            <th class="text-center">hover</th>
                            <th class="text-center">on focus</th>
                            <th class="text-center">on click/selected</th>
                            <th class="text-center">disabled</th>
                            <th class="text-center">class name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button class="button">default</button></td>
                            <td><button class="button hover">default</button></td>
                            <td><button class="button focus">default</button></td>
                            <td><button class="button selected">default</button></td>
                            <td><button class="button disabled">default</button></td>
                            <td><code class="min-width-percentage-100">button</code></td>
                        </tr>
                        <tr>
                            <td><button class="button btn-primary">primary</button></td>
                            <td><button class="button btn-primary hover">primary</button></td>
                            <td><button class="button btn-primary focus">primary</button></td>
                            <td><button class="button btn-primary selected">primary</button></td>
                            <td><button class="button btn-primary disabled">primary</button></td>
                            <td><code class="min-width-percentage-100">btn-primary</code></td>
                        </tr>
                        <tr>
                            <td><button class="button btn-secondary">secondary</button></td>
                            <td><button class="button btn-secondary hover">secondary</button></td>
                            <td><button class="button btn-secondary focus">secondary</button></td>
                            <td><button class="button btn-secondary selected">secondary</button></td>
                            <td><button class="button btn-secondary disabled">secondary</button></td>
                            <td><code class="min-width-percentage-100">btn-secondary</code></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /widget -->
        <!-- widget default buttons -->
        <div class="widget margin-top-20">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Default Buttons</h6>
                </div>
            </div>
            <div class="well body text-center">
                <button class="button">default</button>
                <button class="button btn-primary">Primary</button>
                <button class="button btn-info">Info</button>
                <button class="button btn-success">Success</button>
                <button class="button btn-warning">Warning</button>
                <button class="button btn-danger">Danger</button>
                <button class="button btn-link">Link</button>
            </div>
        </div>
        <!-- /widget -->
        <!-- widget block sizes -->
        <div class="widget margin-top-20">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Buttons Sizes</h6>
                </div>
            </div>
            <div class="well body">
                <strong class="sub-title">Presets - size defined by class and by text</strong>
                <button class="button btn-primary btn-large">Large</button>
                <button class="button btn-info btn-medium">Medium</button>
                <button class="button btn-success  btn-small">Small</button>
                <button class="button btn-warning btn-mini">Mini</button>

                <strong class="sub-title margin-top-15">Presets - size defined by custom class</strong>
                <button class="button btn-primary btn-medium min-width-100">width 100</button>
                <button class="button btn-info btn-medium min-width-150">width 150</button>
                <button class="button btn-success  btn-medium min-width-175">width 175</button>
                <button class="button btn-warning btn-medium min-width-200">width 200</button>
            </div>
        </div>
        <!-- /widget -->
        <!-- widget icons -->
        <div class="widget margin-top-20">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Buttons With Icons</h6>
                </div>
            </div>
            <div class="well body text-center">
                <button class="button">
                    <i class="tr-icon-calendar"></i>
                    Button
                </button>
                <button class="button btn-danger">
                    <i class="tr-icon-edit"></i>
                    Button
                </button>
                <button class="button btn-info">
                    <i class="tr-icon-edit"></i>
                    Button
                </button>
                <button class="button btn-warning">
                    <i class="tr-icon-close"></i>
                    Button
                </button>
            </div>
        </div>
        <!-- /widget -->
    </div>
    <div class="large-6 columns">
        <!-- widget block buttons -->
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Block Buttons</h6>
                </div>
            </div>
            <div class="well body">
                <strong class="sub-title clearfix">Block buttons<code>.btn-block</code></strong>
                <button class="button btn-primary btn-large btn-block">BLOCK BUTTON</button>
                <button class="button btn-secondary btn-large btn-block margin-top-5">BLOCK BUTTON</button>
                <!--<button class="button btn-success btn-large btn-block margin-top-5">BLOCK BUTTON</button>-->
                <!--<button class="button btn-warning  btn-large btn-block margin-top-5">BLOCK BUTTON</button>-->
                <strong class="sub-title margin-top-15 clearfix">One class, multiple tags</strong>
                <div class="well-smoke body">
                    <a class="button btn-info" href="">Link</a>
                    <button class="button btn-info" type="submit">Button</button>
                    <input class="button btn-info" type="button" value="Input">
                    <input class="button btn-info" type="submit" value="Submit">
                </div>
            </div>
        </div>
        <!-- /widget -->
        <!-- widget block buttons -->
        <div class="widget margin-top-20">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Group Buttons</h6>
                </div>
            </div>
            <div class="well body">
                <div class="row">
                    <div class="columns large-3">
                        <strong class="sub-title">Group</strong>
                        <div class="btn-group">
                            <div class="button">1</div>
                            <div class="button">2</div>
                        </div>
                    </div>
                    <div class="columns large-4">
                        <strong class="sub-title">Styled Group</strong>
                        <div class="btn-group">
                            <div class="button btn-info">3</div>
                            <div class="button btn-info">4</div>
                            <div class="button btn-info">5</div>
                        </div>
                    </div>
                    <div class="columns large-5">
                        <strong class="sub-title">Grid Group</strong>
                        <div class="btn-group row collapse">
                            <div class="large-6 columns"><div class="button btn-success btn-block">columns btn</div></div>
                            <div class="large-6 columns"><div class="button btn-success btn-block">columns btn</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /widget -->
    </div>
</div>