<div class="row column">
    <h1>Database Tool</h1>
</div>

<div data-bind="visible: !results().length">
    <div class="row margin-top-20">
        <div class="columns large-4">
            <input class="margin-bottom-10" type="text" placeholder="search for.." data-bind="value: search">
            <input class="margin-bottom-10" type="text" placeholder="replace with" data-bind="value: replace">
            <button class="button" data-bind="click: replaceOne">Replace</button>
            <button class="button" data-bind="click: replaceAll">ReplaceAll</button>
        </div>
        <div class="columns large-8">
            <div class="row margin-bottom-5">
                <div class="columns large-3">
                    <p class="strong margin-bottom-15">Select Query Database: </p>
                </div>
                <div class="columns large-9">
                    <ko.select class="" params="
                    options:                dbOptions,
                    selected:               selectedDB
                ">  </ko.select>
                </div>
            </div>
            <div class="row margin-bottom-5">
                <div class="columns large-3">
                    <button class="button" data-bind="click: save">Save</button>
                </div>
                <div class="columns large-9">
                    <input class="margin-bottom-10" type="text" placeholder="Query Name" data-bind="value: queryName">
                </div>
            </div>

            <div class="row margin-bottom-5">
                <div class="columns large-3">
                    <p class="strong margin-bottom-15">Local Saved Query: </p>
                </div>
                <div class="columns large-9">
                    <ko.select class="" params="
                    options:                savedQueries,
                    selected:               selectedQueryToLoad,
                    caption:                'Load Query'
                ">  </ko.select>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-20">

        <div class="columns large-6">
            <div id="editor">SELECT a.uid, a.user_id, a.owner_id, a.is_active, a.network_id, a.campaign_id
    FROM t_paid_tracx_user a
    WHERE a.user_id = 106</div>
        </div>
        <div class="columns large-6 tableContentSection relative">
            <div class="row">
                <div class="large-7 columns">
                    <ko.select class="" params="
                        options:                tablesList,
                        selected:               selectedTable,
                        optionsSearch:          true,
                        caption:                'Selected Table'
                    ">  </ko.select>
                </div>
                <div class="large-5 columns"><button class="button" data-bind="click: showTableData">Show Table</button></div>
            </div>
            <div class="row column">
                <p class="margin-top-10" style="white-space: pre-wrap;padding: 10px;line-height: 24px;font-size: 14px;box-shadow: 0 0 3px 1px rgba(81, 82, 84, 0.25);background-color: #FFFFFF;height: 562px;overflow: auto;border: 1px solid #DDD;border-radius: 4px;"
                   data-bind="html: tableData"></p>
            </div>
        </div>
    </div>

    <div class="row margin-top-20">
        <div class="columns large-4 large-centered">
            <button class="button btn-secondary" data-bind="click: clean">Clean Query</button>
            <button class="button btn-secondary" data-bind="click: query">Run Query</button>
        </div>
    </div>
</div>

<!-- ko if: results().length -->
<div class="row margin-top-20">
    <div class="columns large-12" style="overflow: auto;max-height: 740px;">
        <table class="table scrollable tr-ignore-old-style">
            <thead>
            <tr data-bind="foreach: headColumns">
                <th>
                    <span data-bind="text: $data"></span>
                </th>
            </tr>
            </thead>
            <tbody data-bind="foreach: results">
                <tr>
                    <!-- ko foreach: $component.headColumns -->
                        <td data-bind="text: $parent[$data]"></td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row margin-top-20">
    <div class="columns large-4 large-centered text-center">
        <button class="button btn-primary" data-bind="click: reset">Run Another Query</button>
    </div>
</div>
<!-- /ko -->
<style>
    #editor
    {
        width: 100%;
        min-height: 600px;
        border: 1px solid #DDD;
        border-radius: 4px;
        border-bottom-right-radius: 0px;
        margin-top: 5px;
    }
    .ace_editor, .ace_editor *
    {
        font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        letter-spacing: 0 !important;
    }
</style>