<div class="row column">
    <h1>Progress Bar</h1>
</div>
<div class="row margin-top-20">
    <div class="large-8 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Used In: boost</h6>
                </div>
            </div>
            <div class="well body text-center">
                <ko.view-source params="sourceClass: 'pbExampleSource1'"></ko.view-source>
                <div class="row column pbExampleSource1">
                   <ul class="steps-menu">
                       <li class="step-done"><span></span></li>
                       <li class="step-done"><span></span></li>
                       <li class="step-done"><span></span></li>
                       <li class="step-active"><span></span></li>
                       <li><span></span></li>
                       <li><span></span></li>
                       <li><span></span></li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
    <!--documentations-->
    <div class="large-4 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Documentations</h6>
                </div>
            </div>
            <div class="well body text-center">
                <div class="row ">
                    <ol>
                        <li>css only component</li>
                        <li>create ul list with class 'steps-menu'</li>
                        <li>render each list item (li) with class 'step-active' or 'step-done' or empty class</li>
                        <li>we use this component in Boost wizard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>