<div class="row column">
    <h1>Tags</h1>
</div>
<div class="row margin-top-20">
    <div class="large-8 columns">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Used In: boost Dashboards, Boost sidebar widget ( auto select component ) etc.</h6>
                </div>
            </div>
            <div class="well body text-center">
                <div class="row ">
                    <ko.view-source params="sourceClass: 'tagsExampleSource1'"></ko.view-source>
                    <div class="tagsExampleSource1 hide">
                        <ul class="tags">
                            <li class="tag-label">
                                <span>tag #1</span>
                                <i class="tr-icon-close float-right"></i>
                            </li>
                            <li class="tag-label">
                                <span class="strong" >Ad Account:</span>
                                <span class="font-italic">IdanPrivate, Lola Lola, Ronny's ad account, Bob Gi's ad account, Ed's ad account</span>
                                <i class="tr-icon-close float-right"></i>
                            </li>
                        </ul>
                    </div>
                    <ul class="tags">
                        <!-- ko foreach: tags -->
                        <li class="tag-label">
                            <span data-bind="text: name()"></span>
                            <i class="tr-icon-close float-right"></i>
                        </li>
                        <!-- /ko -->
                        <li class="tag-label">
                            <span class="strong" >Ad Account:</span>
                            <span class="font-italic">IdanPrivate, Lola Lola, Ronny's ad account, Bob Gi's ad account, Ed's ad account</span>
                            <i class="tr-icon-close float-right"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--documentations-->
    <div class="columns large-4">
        <div class="widget">
            <div class="nav-bar">
                <div class="nav-bar-inner">
                    <h6>Documentations</h6>
                </div>
            </div>
            <div class="well body text-center">
                <div class="row ">
                    <ol>
                        <li class="strong">css only</li>
                        <li>create ul list with class tags</li>
                        <li>render each list item (li) with class tag-label</li>
                        <li> optional: span or spans with styling classes ( font-italic, strong, padding-left-2, etc. ) </li>
                        <li>last item inside list item (li) should be an icon with class 'tr-icon-close'</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>