<button class="float-right button line-height-30 browseDetailedTargeting">Browse</button>
<div class="browseResults border-solid float-right hidden" data-bind="jstree: { plugins: ['checkbox', 'changed'], btnElem: 'browseDetailedTargeting', configName: 'sampleData' } "
     style="width: 100%;
                 border-right: solid #eee 1px;
                 border-left: solid #eee 1px;
                 border-bottom: solid #eee 1px;
                 box-shadow: 0 1px 8px rgba(0, 0, 0, .25);">
    <div id="container">
    </div>
</div>
